In [1]:
## From SQL to DataFrame Pandas
import pandas as pd
import pyodbc

In [5]:
sql_conn = pyodbc.connect('DRIVER={SQL Server Native Client 11.0}; \
                            SERVER=DESKTOP-UDG13F5\SRV12; \
                            DATABASE=TestDB; \
                            Trusted_Connection=yes') 
query = "SELECT * FROM Customers"

In [6]:
df = pd.read_sql(query, sql_conn)

In [7]:
df.head()

   Id   FirstName    LastName     Address
0   1  a           aa          aaa
1   2  b           bb          bbb
2   3  c           cc          ccc
3   4  d           dd          ddd

In [9]:
import pandas_profiling
#Generate profile report using pandas_profiling
report = pandas_profiling.ProfileReport(df)

In [10]:
#covert profile report as html file
report.to_file("D:\GIT\DataProfiling\SAMPLE_CUSTOMER.html")